<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Calling</title>
    <link rel="stylesheet" href="/styles/room.css" />
</head>
<body>
    <div class="container">
        <nav class="nav">
            <div class="logo">
                <img src="/logo.png" alt="">
            </div>
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/" class="active">Room</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="/">Pricing</a></li>
            </ul>
        </nav>
        <div class="chatArea">
            <div class="video-sec partition">
                <video class="video2" id="user-2" muted autoplay></video>
                <video class="video1" id="user-1" autoplay></video>
            </div>
            <div class="chat-sec">
                <div class="chatBox partition">
                    <span style="color: white; font-size: 1.1rem;">camera is blocked retry again or realod...</span>
                    <br>
                    <script>document.write(`<h3><a style="color: #fff;" href="${document.URL}" >Share This Url To Your Friend:- ${document.URL}</a></h2>`)</script>
                    <div id="logs" class="msgLogs">
                    </div>
                </div>
                <div class="chatInput partition">
                    <div class="chat-actions">
                        <button class="chat-btn">
                            <span>New</span><br>
                            <span>Esc</span>
                        </button>
                        <div class="text-actions">
                            <textarea id="chat-box" cols="30" rows="10"></textarea>
                        </div>
                        <button class="chat-btn" id="send-msg">
                            <span>Send</span><br>
                            <span>Enter</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/room.js"></script>
</body>
</html>