@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
    /* Descriptive Color Names */
    --dark-gray: #1a1a1a;
    --light-gray: #efebeb;
    --navy-blue: #222f3e;
    --turquoise: #1dd1a1;
    --gold: #feca57;
    --charcoal: #4f4d4d;
    --white: #fff;
    --light-blue: #48dbfb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-gray);
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.container .nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-gray);
    padding: 0 60px;
}

.container .nav .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .nav .logo img {
    width: 60px;
}


.container .nav .links {
    display: flex;
}

.container .nav .links li {
    list-style: none;
}

.container .nav .links li a {
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--navy-blue);
    margin: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.5s;
}

.container .nav .links li .active,
a:hover {
    background-color: var(--turquoise);
    color: var(--gold);
}

.container .chatArea {
    display: flex;
    width: 100%;
    height: 100%;
    height: calc(100% - 70px);
    padding: 20px 15px;
}


.container .chatArea .video-sec {
    width: 30%;
    height: 100%;
}

.container .chatArea .video-sec video {
    width: 100%;
    height: calc(50% - 10px);
    background-color: var(--charcoal);
    border-radius: 5px;
}

.container .chatArea .video-sec .video1 {
    margin-bottom: 10px;
}

.container .chatArea .video-sec .video2 {
    margin-top: 10px;
}

.container .chatArea .chat-sec {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin-left: 15px;
    border-radius: 10px;
}

.container .chatArea .chat-sec .partition {
    width: 100%;
    border-radius: 10px;
}

.container .chatArea .chat-sec .chatInput {
    height: 110px;
}

.container .chatArea .chat-sec .chatBox {
    height: calc(100% - 110px);
    padding: 10px;
    background-color: var(--charcoal);
    overflow-y: scroll;
}

.container .chat-sec .chatBox .msgLogs{
    width: 100%;
    display: block;
    margin: auto;
    padding: 10px;
}

.container .chat-sec .chatBox .msgLogs .incoming{
    display: flex;
    align-items: center;
    justify-content: right;
}
.container .chat-sec .chatBox .msgLogs .incoming .msg{
    background-color: var(--turquoise);
    border-radius: 10px;
}


.container .chat-sec .chatBox .msgLogs .outgoing{
    display: flex;
    align-items: center;
    justify-content: left;
}
.container .chat-sec .chatBox .msgLogs .outgoing .msg{
    background-color: var(--light-blue);
    border-radius: 10px;
}

.container .chat-sec .chatBox .msgLogs .msg{
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

/* chat inputs  */
.container .chatArea .chat-sec .chatInput {
    width: 100%;
    padding-top: 10px;
}

.container .chatArea .chat-sec .chat-actions {
    display: flex;
    align-items: center;
    height: 100%;
}

.container .chatArea .chat-sec .chat-actions .chat-btn {
    width: 140px;
    height: 100%;
    cursor: pointer;
    background-color: var(--light-blue);
    border: 0;
}

.container .chatArea .chat-sec .chat-actions .chat-btn span {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 25px;
}

.container .chatArea .chat-sec .text-actions {
    display: contents;
    height: 100%;
    padding: 34px;
}

.container .chatArea .chat-sec .text-actions textarea {
    height: 100%;
    width: 100%;
    resize: none;
    font-size: 1.2rem;
    padding: 5px;
    font-weight: 600;
    margin: 10px;
    color: var(--light-blue);
    background-color: var(--charcoal);
    border: 0;
}

.container .chatArea .chat-sec .text-actions textarea:focus {
    border: 0;
}